.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.replies {
  margin-left: 5%;
  background-color: burlywood;
}

.comment {
  background-color: beige;
}

.small-buttons {
  background: transparent;
  font-size: small;
  display: inline;
  border: none;
}
.small-buttons:hover {
  background: gray;
}
.comment-button {
  background: lightskyblue;
  border: 1px solid black;
  color: black;
  font-size: large;
  display: block;
  border-radius: 10%;
  width: max-content;
}